* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    /* HEADER */
    header {
      background-color: rgb(80, 80, 80);
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
    }

    .logo {
      width: 50px;
      height: 50px;
    }
    .logo img{
      width: 50px;
      height: 50px;
    }

    .header-buttons {
      display: flex;
      gap: 15px;
      
    }

    .header-buttons button {
      padding: 10px 20px;
      border: none;
      background-color: lightgray;
      cursor: pointer;
      border-radius:5px;
    }

    /* MAIN */
    main {
        position: relative;
      background:url("./img/fondo.png");
      background-size: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 40px;
    }
    main::before {
        
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}
    
    
    
    
    
    .main-title {
      background-color: lightgray;
      padding: 20px 60px;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      border-radius:5px;
      z-index:4;
    }

    .main-buttons {
      display: flex;
      gap: 60px;
      z-index:2;
    }

    .main-buttons button {
      padding: 20px 40px;
      border: none;
      border-radius:5px;
      background-color: lightgray;
      font-size: 16px;
      cursor: pointer;
    }

    /* FOOTER */
    footer {
      background-color: rgb(223, 223, 223);
      height: 90px;
      display: flex;
      justify-content: space-between;
      padding: 20px 30px;
      color: black;
    }

    .footer-left {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .logodown{
        padding: 20px 20px;
    }
    .logodown img{
      width: 45px;
      height: 45px;
    }
    .socials {
      padding: 20px 20px;
    }
    .socials img{
      width: 50px;
      height: 50px;
    }

    .footer-right {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .footer-right div {
      padding: 10px 20px;
      border-radius: 5px;
    }